.backdrop__book {
    position: fixed;
    z-index: 60;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(46,47,66,.7);
    
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 800ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px 0px;
}
.modal__book-body {
    position: relative;
    width: 700px;
    padding: 40px 15px 40px 15px;

    background-image: url('../img/about/bg-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid var(--gold-color);
    border-radius: 10px;
}
.book__icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    fill: var(--white-color);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        fill: var(--gold-color);
    }
}
.book__title {
    text-align: center;
    margin-bottom: 10px;
}
.book__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book__wrapper-select {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.modal__book-select,
.modal__book-date,
.modal__book-time {
    padding: 16px;
    width: 412px;
    height: 60px;

    font-family:" Cormorant Upright";
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75; /* 28px */
    letter-spacing: 0.64px;
    color: var(--general-color);
    border: 1px solid var(--light-gold-color);
    background-color: inherit;
    cursor: pointer;
}
.modal__book-button {
    margin-top: 64px;
}
@media screen and (max-width: 767.98px){
    .modal__book-body {    
        width: 400px;
    }
    .book__icon-close {
        top: 20px;
    }
    .modal__book-select,
    .modal__book-date,
    .modal__book-time {
        width: 320px;
    }
}
@media screen and (max-width: 479.98px){
    .modal__book-body {
        width: 300px;
        height: 400px;
        padding: 50px 10px 20px 10px;
    }
    .book__wrapper-select {
        gap: 16px;
    }
    .modal__book-select,
    .modal__book-date,
    .modal__book-time {
        width: 260px;
    }
    .modal__book-button {
        margin-top: 16px;
    }
}
.active__book {
    opacity: 1;
    visibility: visible;
}