@import './general-styles';
@import './reset-style';
@import './variable';
@import './header';
@import './hero';
@import './services';
@import './human';
@import './partner';
@import './forest';
@import './analitic';
@import './information';
@import './news';
@import './work';
@import './contact';
@import './footer';
@import './slider';
@import './modal-window';
@import './burger-menu';
